<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LootLogger.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F827F6DA255A38B600AB728C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F827F6F0255A38B700AB728C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F827F6FB255A38B700AB728C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
